# Ignore node_modules in both backend and frontend folders
backend/node_modules/
frontend/node_modules/

# Ignore package-lock.json files in both backend and frontend folders
backend/package-lock.json
frontend/package-lock.json
