*{
    margin: 0px;
    padding: 0px;
    transition: 0.5s;
}

.layout{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    height: 100vh;
}

/* Side Bar Container */
.side-bar{
    background-color: rgb(166, 213, 255);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.side-bar ul{
    margin: 10px;
    height: 100%;
    list-style: none;
    font-size: 20px;
}

.side-bar li{
    margin: 10px;

}

.link {
    text-decoration: none;
    color: black;
}

/* Renovation and Attendance Containers */
.renovation-container, .attendance-container, .student-details-container{
    margin: 5px;
    padding: 10px;
    font-size: 18px;
    overflow: hidden;
    overflow-y: scroll;
    backdrop-filter: blur(9px);
    text-shadow: 0px 0px 1px black;
}

.renovation-headers{
    background-color: rgb(232, 232, 232);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    margin: 10px;
    border-radius: 6px;
    border: 1px solid black;
}

.attendance-headers{
    background-color: rgb(232, 232, 232);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    margin: 10px;
    border-radius: 6px;
    border: 1px solid black;
}

.attendance-record-headers{
    grid-template-columns: repeat(3, 1fr);
    padding-left: 170px;
}

.student-details-headers{
    background-color: rgb(232, 232, 232);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    margin: 10px;
    border-radius: 6px;
    border: 1px solid black;
}

/* renovation header items */
.reno-header, .atten-header, .std-details-header{
    margin: 10px;
    font-weight: bold;
}

.renovation-item-5{
    height: 24px;
    width: 60px;
    padding: 2px;
    border-radius: 15px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.renovation-item-5:hover{
    background-color: lightgrey;
    color: black;
}

.renovation-rows{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    margin: 10px;
}

.attendance-rows{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    margin: 10px;
}

.attendance-record-rows{
    grid-template-columns: repeat(3, 1fr);
    padding-left: 170px;
}

.student-details-rows{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    margin: 10px;
}

/* renovation items */
.reno-item, .atten-item, .std-details-item{
    margin: 10px;
}

/* renovation logs */
.reno-logs-btn{
    margin-left: 20px;
    height: 25px;
    width: 50px;
    border-radius: 10px;
    padding: 3px;
}

.reno-logs-btn:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.reno-logs-container{
    background-color: rgb(166, 213, 255);
    padding: 20px;
    margin-top: 5px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
    border-radius: 10px;
}

.reno-logs-container td{
    padding: 5px 30px;
    
    font-weight: normal;
}

.log-filter-box{
    width: 100%;
    display: flex;
    justify-content: center;
}

.logs-filter{
    margin: 15px;
    height: 20px;
    width: 80px;
    border-radius: 5px;
}

.logs-filter:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.attendance-item-5{
    display: flex;
}

.mark-all-btn-container, .search-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mark-all-btn{
    height: 28px;
    width: 120px;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mark-all-btn:hover{
    background-color: lightgrey;
    color: black;
}

.mark-all-btn div{
    height: 15px;
    width: 15px;
    margin: 5px;
}

.allPresentBtn div{
    background-color: green;
}

.allOnLeaveBtn div{
    background-color: yellow;
}

.search-attendance{
    height: 30px;
    width: 250px;
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    border: 1px solid black;
}

.search-attendance-submit, .reset{
    height: 28px;
    width: 60px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 3px;
}

.search-attendance-submit:hover, .reset:hover{
    background-color: lightgrey;
    color: black;
}

/* Room status */
.room-status-container-1{
    padding:10px;
    margin: 5px;
    backdrop-filter: blur(9px);
    text-shadow: 0px 0px 1px black;
}
.room-status-container-2{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: hidden;
    overflow-y: scroll;
}

.room-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    padding: 15px;
    width: 200px;
    background-color: black;
    color: white;
    border-radius: 20px;
}

.status-box{
    height: 25px;
    width: 60px;
    margin-top: 5px;
    border-radius: 10px;
}